<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>::TWTJ mall::</title>
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/slick-theme.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round|Rock+Salt&display=swap" rel="stylesheet">
    
    <!-- Slick Carousel -->
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>    
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
    <script type="text/javascript" src="/javascripts/slick.min.js"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="/javascripts/project.js"></script>
    <script src="javascripts/custom.js"></script>

    
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive;">T W T J</a>
            <!-- <span class="navbar-text">ddd</span>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="font-family: 'Varela Round', sans-serif;">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign_In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign_Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fabric_index">fabric</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full"
        style="background-size: 100% 100%; background-image: url('/images/1.jpg'); background-repeat: no-repeat;  background-position: center;">
        <div style="height: 630px;"></div>
        <h1 style="text-align: center; color:mintcream; font-family: 'Rock Salt', cursive;">T W T J &nbsp;  M A L L</h1>
    </header>

    <!-- Page Content -->
    <section class="slide-contents margin-top50">
        <div class="container">
            <h2> T W T J mall - welcome!</h2>
            <p style="font-size: 1.25rem" ;>Information is valuable. </br>
                Your purchase history and personal information are stored on the blockchain.</br>
                No one can see your informations. </br>
                Also You can get a tax refund. You can feel comfortable in our mall.</br></p>
        </div>
    </section>


    <section class="speakers-full-width margin-top50">
        <div class="container-fluid p-0">
            <h3 style="text-align: center">Our Members</h3>
            <h5 style="text-align: center">We Are All Blockchain Developer.</h5>
            <div class="row">
                <div class="col-12">
                    <!-- Speaker Slider -->
                    <div class="speaker-slider slide-contents">
                        <div class="speaker-image item">
                            <img src="images/3.jpg" alt="member" class="img-fluid">
                            <div class="primary-overlay text-center">
                                <h5>SANGWOOK JEON</h5>
                                <p>Server & DB Engineer</p>
                            </div>
                        </div>
                        <div class="speaker-image item">
                            <img src="images/4.jpg" alt="member" class="img">
                            <div class="primary-overlay text-center">
                                <h5>DONGWOOK LEE</h5>
                                <p>Fabric Developer</p>
                            </div>
                        </div>
                        <div class="speaker-image item">
                            <img src="images/5.jpg" alt="member" class="img">
                            <div class="primary-overlay text-center">
                                <h5>YUJIN LEE</h5>
                                <p>Fabric Developer</p>
                            </div>
                        </div>
                        <div class="speaker-image item">
                            <img src="images/6.jpg" alt="member" class="img">
                            <div class="primary-overlay text-center">
                                <h5>YOONJI KIM</h5>
                                <p>Server & Front-end Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>