<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/stylesheets/sign.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round|Rock+Salt" rel="stylesheet">

    <title>::TWTJ:: SIGN IN</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive;">T W T J</a>
            <!-- <span class="navbar-text">ddd</span>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="font-family: 'Varela Round', sans-serif;">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!------ Include the above in your HEAD tag ---------->

    <section class="sign-block">
        <div class="container-block">
            <div class="row">
                <div class="col-md-4 login-sec sign-box">
                    <h2 class="text-center font-yoon">Sign In Now</h2>
                    <!-- submit 처리 기능 -> jQuery 로 하면 더 좋지만...하는법 모름(다음에 공부~) -->
                    <script>
                        function check() {
                            const email = fn.user_email.value
                            const pw = fn.user_pw.value

                            if (email == "" & pw == "") {
                                alert("정보를 입력하세요")
                                return false;
                            } else if (email == "") {
                                alert("E-mail을 작성하세요")
                                user_email.focus();
                                return false;
                            } else if (pw == "") {
                                alert("비밀번호를 입력하세요");
                                user_pw.focus();
                                return false;
                            }
                            else return true;
                        }
                    </script>
                    <form name ='fn' class="login-form" onsubmit = "return check()" action='/API_USER/user/signin' method = 'post'>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase font-yoon">E-mail</label>
                            <input type="text" class="form-control" name= "user_email">
                        </div>
                        <div class="form-group" style="margin-top:40px";>
                            <label for="exampleInputPassword1" class="text-uppercase font-yoon">Password</label>
                            <input type="password" class="form-control" name= "user_pw" >
                        </div>
                        <div class="form-check" style="margin-top:30px";>
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input font-yoon">
                                <small>Remember Me</small>
                            </label>
                           <button type="submit">Submit</button>
                        </div>
                     </form>
                    
                    </div>
                    <div class="col-md-8 banner-sec photo-box">
                        <div class="copy-text">Created with <i class="fa fa-heart"></i> by TWTJ</div>
                    <div class="img">
                        <div id="sign_in_photo" class="image">
                            <!-- <img src="images/7.jpg" alt="signin" class="img-box"> -->
                            <div class="img-caption d-none d-md-block">
                                <div class="content font-yoon">
                                    <h3>TWTJ MALL is special shopping mall.</h3>
                                    <p>You must sign in to see the our site. We provide tax refund service. You
                                        can use our TWTJ site comfortably and refund tax fees easily. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>